
@import "#/@fortawesome/fontawesome-free/css/all.min.css";
@import "#/bulma/css/bulma.min.css";

.is-vertical {
    writing-mode: vertical-lr;
}
.has-text-center {
    text-align: center !important;
}

th.has-text-center {
    padding: 0px auto !important;
}